.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr 50px;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.barra-superior {
  grid-column: 1/3;
  background-color: lightskyblue;
}
.coluna-esquerda {
  grid-column: 1/2;
  background-color: lightgray;
}
.coluna-direita {
  grid-column: 2/3;
  background-color: lightyellow;
}
.rodape {
  grid-column: 1/3;
  background-color: lightcoral;
}
